<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScriptInk</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.min.css" integrity="sha256-6hqHMqXTVEds1R8HgKisLm3l/doneQs+rS1a5NLmwwo=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" >
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet"> 
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <script src="https://kit.fontawesome.com/1f7ae91032.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="mainNav">
        <div class="container">
        <a class="navbar-brand" href="#"><img class="nav-logo" src="/images/Captureaaaa.png" width="50" height="50" class="d-inline-block align-top" alt="">ScriptInk</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Members</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Category
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/inspiration">Inspiration</a>
                  <a class="dropdown-item" href="/love">Love</a>
                  <a class="dropdown-item" href="/sad">Sad</a>
                  <a class="dropdown-item" href="/science">Science</a>
                  </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact us</a>
              </li>
            
          </ul>
    </div>
</div>
      </nav>
    <div class="header">
        <section class="header-section" style="display: flex;justify-content: center;align-items: center;">
              <div class="container">
                <div class="row">
                    <div class="col-md-6" id="scriptink-info">
                        <div class="center-div">
                            <h1 id="heading">ScriptInk</h1>
                        <p><i>voice of thoughts</i><p>
                            <p id ="info" style="font-size: 2rem;">the Regd. Arts & Litreture non-profit Organization and Literary Club of SIT</p>
                            <a class="button" href="https://play.google.com/store/apps/details?id=com.scriptink.official&hl=en"><i class="fab fa-google-play"></i>Get the App</a>
                        </div>
                    </div>
                    <div data-aos="fade-left" data-aos-duration="3000" class="col-md-6" style="text-align: left;">
                        <div class="center-div">
                        <img src="/images/scitrans.png" alt="Scriptink image" id="mobile">
                    </div>
                    </div>
                </div>
                </div>
            
        </section>
    </div>

<!-- -----------------Category Section--------------------------- -->
    <section class="category">
      <div class="section-heading">
        <h2 class="heading-secondary">Choose Category</h2>
    </div>

      <div class="container" style="padding: 2rem 0;">
            
                <div class="row" id="container-row1">
                    <div class="col-md-8">
                        <a href="/inspiration" style="text-decoration: none;">
                        <div class="card" style="background: url(/images/srk.jpg);background-size: cover;background-position: center;">
                            <div class="center-div">
                            <div class="card-body">
                              <h5 class="card-title">Inspiration</h5>
                              <i class="text-white" style="font-size: .7rem;">Grow Inspired</i>
                            </div>
                          </div>
                        </div>
                    </a>
                    </div>
                    <div class="col-md-4">
                        <a href="/love" style="text-decoration: none;">
                        <div class="card" style="background: url(images/love.jpg);background-size: cover;background-position: center;">
                            <div class="center-div">
                            <div class="card-body">
                              <h5 class="card-title">Love</h5>
                              <i class="text-white" style="font-size: .7rem;">A bliss feeling</i>
                            </div>
                          </div>
                        </div>
                    </a>
                    </div>
                </div>
                <div class="row" id="container-row2" >
                    <div class="col-md-4">
                     <a href="/sad" style="text-decoration: none;">
                        <div class="card" style="background: url(/images/sad1.jfif);background-size: cover;background-position: center;">
                            <div class="center-div">
                            <div class="card-body">
                              <h5 class="card-title">Sad</h5>
                              <i class="text-white" style="font-size: .7rem;">life shows it's way</i>
                            </div>
                        </div>
                          </div>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <a href="/science" style="text-decoration: none;">
                        <div class="card" style="background: url(/images/space.jpg);background-size: cover;background-position:center ;">
                            <div class="center-div">
                            <div class="card-body">
                              <h5 class="card-title">Science</h5>
                              <i class="text-white" style="font-size: .7rem;">Innovate with Science</i>
                            </div>
                          </div>
                        
                        </div>
                    </a>
                    </div>
                </div>
            </div>
    </section>

    <!-- -------------------------Category Section End-------------------------->
    <section class="wordOfDay" >
      <div class="content" data-aos="fade-up" data-aos-duration="2000">
        <div class="section-heading">
            <h2 class=" heading-wordOfDay">Word of the Day</h2>
        </div>
            <div class="container wordOfDay-content">
               <div id="wordimg">
                 <p>21.12.19</p>
                 <h3>VOW</h3>
                 <i>verb</i>
                 <p style="width: 30%; margin: auto;">to make a determined decision or promise to do something</p>
                 <img id="quotes1" src="/images/writer.png">
                 <img id="quotes2" src="/images/writer.png">
               </div>
                </div>
        </div>
      </div>

    </section>


    <!-- <section class="film" style="display: flex;
    justify-content: center;
    align-items: center;">
      <div class="center film-container" style="margin:20px;width: 100%;">
      <div class="section-heading">
        <h2 class="heading-secondary">Short Film</h2>
      </div>
        <div class="container" style="padding: 10px;">
            <video data-aos="flip-left" data-aos-duration="2000" width="100%" height="auto" controls ></video>
        </div>
      </div>
      
    </section> -->


    <section class="about" id="about" style="display: flex;justify-content: center;align-items: center;">
     
            <div class="container about-content" >
              <div id="about"  ><h2 class="heading-secondary">About</h2></div>
  <div class="box">
     
       <div id="para"><p>The main idea to develop this app was to build our own platform to deliver different form of art works created by us.

This app brings you a collection of art pieces from different domains. So far we have focused on different genres of writings namely Inspiration, Sad, Love and Science Fiction. These genres are divided in different categories namely Quotes, Poetry, Articles and Stories. Users get a chance to showcase their writing skills by submitting their writings, best among all would be updated every day on the app. The app also has a section for short films, which would be updated every 15 days. The theme for the short film is based on social awareness. If you are very passionate about writing and have good managerial skills, be the campus ambassador in your college to promote this app and win exciting prizes.
     </p></div>
    <div class="figure"></div>
</div>
</div>
    </section>
    <section class="contact-section" id="contact">
      <div class="container contact-sec">
          <div class="row">
              <div class="col-md-4 mb-3 mb-md-0">
                 
                          <i class="fa-2x fa fa-location-arrow"></i>
                          <h4 class="text-uppercase m-0">Address</h4>
                          <div class="small ">Siddaganga Institute Of Technology,Tumkur</div>
                
              </div>
              <div class="col-md-4 mb-3 mb-md-0">
                
                          <i  class=" fa-2x fa fa-envelope"></i>
                          <h4 class="text-uppercase  m-0">Email</h4>
                          <div class="small ">reachscriptink@gmail.com</div>
                
              </div>
              <div class="col-md-4 mb-3 mb-md-0">
                      
                          <i class="fa-2x fa fa-phone"></i>
                          <h4 class="text-uppercase  m-0">Phone</h4>
                          <div class="small ">Not Available</div>
                   
                    </div>
              </div>
          <div class="social d-flex justify-content-center">
              <a class="mx-2" href="https://www.instagram.com/scriptink_official/"><i class="fa fa fa-instagram"></i></a><a class="mx-2" href="https://www.facebook.com/anurag.kumargupta.92"><i class="fa fa fa-facebook-f"></i></a><a class="mx-2" href="https://github.com/AnuragCool"><i class="fa fa fa-linkedin"></i></a>
          </div>
      
      <footer class="footer bg-black small text-center"><div class="container"><p></p></div>
      
      </footer>
  </div>
  </section>
  <div class="scrolltop float-right">
    <i class="fa fa-arrow-up" id="myBtn"></i>
 </div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script src="/js/behaviour.js"></script>

        

    
</body>
</html>