<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScriptInk</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.min.css" integrity="sha256-6hqHMqXTVEds1R8HgKisLm3l/doneQs+rS1a5NLmwwo=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="mainNav">
        <div class="container">
        <a class="navbar-brand" href="/"><img class="nav-logo" src="/images/Captureaaaa.png" width="50" height="50" class="d-inline-block align-top" alt="">ScriptInk</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-p="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Event
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/event/RAGE">RAGE</a>
                    <a class="dropdown-item" href="/event/WritoFest">WritoFest</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/team">Our Team</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link" href="/#category">Category</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact us</a>
                  </li>
                
              </ul>
    </div>
</div>
      </nav>

      <div class="header-register" style="height: auto;min-height:100vh ;background-image:linear-gradient(to right bottom,#231b34ea 40%,rgba(22, 10, 36, 0.966) 80%),url('../images/workshop.jpg');background-size: cover;background-repeat: no-repeat;display: flex;flex-direction:column;justify-content: center;align-items: center;" >
        <div class="form-container">
          
            <h2 class="heading-posts" style="color: white;">Registration for RAGE </h2>
            <i class="fa fa-user-plus fa-4x text-white" style="border: .3rem solid white;border-radius: .7rem;padding: .3rem;margin: 1rem 0;"></i>
            <p class="text-white">Enter your info to register for RAGE</p>
            <div style="
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        ">
        <form id="registerWorkshop">
           
              
            
                  <div class="form-div">
            
                  <input class="text-field" id="name" placeholder="Name" name="first-name" required>
                 </div>
                 <div class="form-div">
                  
                   <input class="text-field" id="usn" placeholder="USN (University Seat Number)" name="usn" required>
                  </div>
                  <div class="form-div select">

                  
                    <label style="margin: 0 1rem;" for="year">Year </label>

                    <select style = "width: 100%;padding: .5rem;border-radius: 1rem;background-color: rgb(236, 236, 241);" name="year" id="year">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                    
                  </div>
                  <div class="form-div">
                  
                   <input class="text-field" id="email" placeholder="Email" type="email" name="email" required>
                  </div>
                  <div class="form-div">
                  
                   <input class="text-field" id="city" placeholder="City name" name="city" required>
                  </div>
                  <div class="form-div">
                   
                    <input class="text-field" id="phone" type="tel" name="phone" placeholder="Phone Number ( Enter 10 digit Number )" pattern="^\d{10}$" required>
                  </div>
           
                   <div class="form-div">
                     <ul style ="margin-bottom: 0;">
                       <li>
                        <input class="option"  type="checkbox"  id="writing" value="openMic" >  <label class="text-white" for="writing">Interested in Open Mic Session</label><br>
                        <ul>
                          <li>
                            <input class="subOption" type="checkbox"  id="writing-item1" value="Audience" >  <label class="text-white" for="writing-item1">Audience</label><br>
                          </li>
                          <li>
                            <input class="subOption" type="checkbox"  id="writing-item2" value="Performer" >  <label class="text-white" for="writing-item2">Performer</label><br>
                          </li>
                          <li> <select  style = "padding: .5rem;border-radius: 1rem;background-color: rgb(236, 236, 241); margin-left: 1rem;" name="language" id="language">
                            <option value="Hindi">Hindi</option>
                            <option value="English">English</option>
                            <option value="Urdu">Urdu</option>
                            <option value="Kannada">Kannada</option>
                          </select></li>
                        </ul>
                       </li>
                     </ul>
                   
                
                    <input class="option"  type="checkbox"  id="androidDevelopment" value="androidDevelopment" >
                    <label class="text-white" for="androidDevelopment">Interested in Android Development</label><br>
                    <input class="option" type="checkbox"  id="graphics" value="graphics" >
                    <label class="text-white" for="graphics">Interested in Graphics</label><br>
                  </div>
                  
                  <div class="form-div">
                    <button class="submit-button btn-workshop" type="submit">Register</button>
                  </div>
                  
               
                </form>
                <div class="loading" style="margin-top: 1rem;">
                  <div class="center-div">
                    <img src="/images/loading.gif" alt="loading" height="100px" width="100px">
                  </div>
                </div>
              </div>
                  <div class="message">
                     <p style="position: absolute;left: 10px;top: 50%;transform: translateY(-50%);" class="message-info text-white">Success</p>
                     <i style="position: absolute;right: 0;top: 50%;transform: translateY(-50%);" class="fas fa-times-circle text-white close" aria-hidden="true"></i>
                  </div>
                
             
       
               </div>
        
          
          
    </div>
  </section>
  <section class="contact-section" id="contact">
    <div class="container contact-sec">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
            
              <img src="https://img.icons8.com/fluent/48/000000/google-maps-new.png"/>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <div class="small ">ScriptInk</div>
              
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              
              <img src="https://img.icons8.com/fluent/48/000000/gmail--v2.png"/>
                        <h4 class="text-uppercase  m-0">Email</h4>
                        <div class="small "><a href = "mailto:info@scriptink.in">info@scriptink.in</a></div>
              
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                    
              <img src="https://img.icons8.com/fluent/48/000000/phone.png"/>
                        <h4 class="text-uppercase  m-0">Phone</h4>
                        <div class="small "><a  href="tel:+91-80950-30481">Call Now</a></div>
                 
                  </div>
            </div>
            <div class="map" style="text-align: center;"> <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15529.528091766753!2d77.1258022!3d13.3264961!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb1f104efe2eaf8fa!2sScriptink!5e0!3m2!1sen!2sin!4v1607256738223!5m2!1sen!2sin" width="100%" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="social d-flex justify-content-center">
                <a class="mx-2" href="https://www.instagram.com/scriptink_official/"><i class="fa fa fa-instagram fa-2x"></i></a><a class="mx-2" href="https://www.facebook.com/ScriptInk-101960781188230"><i class="fa fa fa-facebook-f fa-2x"></i></a><a class="mx-2" href="https://www.linkedin.com/company/scriptink-official/?originalSubdomain=in"><i class="fa fa fa-linkedin fa-2x"></i></a><a class="mx-2" href="https://t.me/scriptink"><i class="fa fa fa-telegram fa-2x"></i></a>
            </div>
    
    <footer class="footer bg-black small text-center"><div class="container"><p></p></div>
    
    </footer>
</div>
</section>
      <div class="scrolltop float-right">
        <i class="fa fa-arrow-up" onclick="topFunction()" id="myBtn"></i>
    </div>
   
   
<script>
  $("#language").hide();
  let count =0;
  var checkboxes = document.querySelectorAll('input.subOption'),
  checkall = document.getElementById('writing');

  checkall.onclick = function(e) {
     if(e.target.checked)
        count=2;
     else
          count=0;
   for(var i=0; i<checkboxes.length; i++) {
     checkboxes[i].checked = this.checked;
   }
   if(!this.checked){
      $("#language").hide();
      document.getElementById("language").required =false;
   }else{
    $("#language").show();
    document.getElementById("language").required =true;
   }
 }
  
    for(var i=0;i<checkboxes.length;i++){
     
         checkboxes[i].onclick = (e)=>{
           if(e.target.value==="Performer" && e.target.checked){
            $("#language").show();
            document.getElementById("language").required =true;
           }else if(e.target.value==="Performer" && !e.target.checked){
            $("#language").hide();
            document.getElementById("language").required =false;
           }
            if(e.target.checked){
               count++;
            }else{
               count--;
               if(count<0)
                  count=0;
            }
               
            checkall.checked=true;
            if(count===0){
               checkall.checked=false;
            }
         }
       
    }
 

  $("#registerWorkshop").on("submit",(e)=>{
   $(".message").css({"display":"none"})
   $(".btn-workshop").prop('disabled', true);
    e.preventDefault();
    $('.loading').show();
    var name=$('#name').val();
    var usn=$('#usn').val();
    var email=$('#email').val();
    var phone=$('#phone').val();
    var city=$('#city').val();
    // var college=$('#college').val();
    var selected=[];
    var year=$("#year").val();
    // console.log($("#year"));


    var options = document.querySelectorAll('.option');
    for(let i=0;i<options.length;i++){
         if(options[i].checked===true){
            // console.log(options[i].getAttribute("value"));
            if(options[i].getAttribute("value")==="openMic"){
               var obj ={
                  option:[],
                  title:"openMic"
               }
                     for(let j=0;j<checkboxes.length;j++){
                        if(checkboxes[j].checked===true){
                         if( checkboxes[j].getAttribute("value")==="Performer"){
                             var language = $("#language").val();
                            //  console.log(language);
                             obj.option.push(language);
                         }else{
                            obj.option.push(checkboxes[j].getAttribute("value"));
                         }
                        }
                     }
                     selected.push(obj);
            }else{
               selected.push(options[i].getAttribute("value"));
            }
         }
    }
    // console.log(selected);
    if(selected.length===0){
      $(".message").css({"display":"block"})
      $(".message").css({'background-color':"red"});
      $(".message-info").html(
         "Please select atleast one option from the checkbox."
      )
      $('.loading').hide();
      $(".btn-workshop").prop('disabled', false);
    }else{

   
    

    
    
   
   
   
       $.ajax({
         url:"/registerForWorkshop",
         method:"post",
         data:{name:name,email:email,usn:usn,city:city,phone:phone,selected:selected,year:year},
         success:function(result,status,xhr){
            //    console.log(result.message);
            $(".btn-workshop").prop('disabled', false);
                if(result.message==='empty'){
                  $(".message").css({"display":"block"})
                  $(".message").css({'background-color':"red"});
                  $(".message-info").html(
                     "Fill all the Fields"
                  )
                  $('.loading').hide();
                }
                else if(result.message==='success'){
                 $(".message").css({"display":"block"})
                 $(".message").css({'background-color':"green"});
                 $(".message-info").html(
                   "<p style="+"margin:0;"+">Successfully Submitted </p> Please Download our App from the Play store  <a class="+"message-anchor"+" href="+"https://play.google.com/store/apps/details?id=com.scriptink.official&hl=en"+"><i class="+"fab fa-google-play"+"></i>Get the App</a>"
                   
                 )
                    
                $('#name').val("");
                $('#email').val("");
                $('#usn').val("");
                $('#phone').val("");
                $('#city').val("");
                $('#college').val("");
                checkall.checked=false;
                $('.subOption').prop("checked",false);
                $('#graphics').prop("checked",false);
                $('#androidDevelopment').prop("checked",false);
                $('.loading').hide();
                $("#year").val("1");
                setTimeout(() => {
                    window.location.href="https://play.google.com/store/apps/details?id=com.scriptink.official&hl=en";
                }, 2000);
                }
                else if(result.message==="not started"){
                    $(".message").css({"display":"block"})
                    $(".message").css({'background-color':"red"});
                    $(".message-info").html(
                       "Registration has not been started yet!"
                    )
                    $('.loading').hide();
                 }else if(result.message==="error"){
                    $(".message").css({"display":"block"})
                    $(".message").css({'background-color':"red"});
                    $(".message-info").html(
                       "Something went wrong! Please try Again"
                    )
                    $('.loading').hide();
                 }else if(result.message === "checkbox not selected") {
                    $(".message").css({"display":"block"})
                    $(".message").css({'background-color':"red"});
                    $(".message-info").html(
                       "Please select the checkbox !!!"
                    )
                    $('.loading').hide();
                 }
                 else {
                    $(".message").css({"display":"block"})
                    $(".message").css({'background-color':"red"});
                    $(".message-info").html(
                       "You have already registered !!!"
                    )
                    $('.loading').hide();
                 }
   
         },
         error:function(status,xhr,error){
            $('.loading').hide();
            $(".btn-workshop").prop('disabled', false);
               console.log(error);
         }
   
       })
      }
  })

</script>
<script src="https://kit.fontawesome.com/1f7ae91032.js" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<!-- <script src="/js/button.js"></script> -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  $('.loading').hide();
  AOS.init();
</script>
<script src="/js/behaviour.js"></script>
    
</body>
</html>