<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Sunil Kumar B A" />
        <meta name="csrf-token" content="<%=csrfToken%>" />
        <title>ScriptInk</title>
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.min.css"
            integrity="sha256-6hqHMqXTVEds1R8HgKisLm3l/doneQs+rS1a5NLmwwo=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous" />
        <link rel="stylesheet" href="/css/eventpage.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Your+Desired+Font&display=swap">
        <link rel="stylesheet" href="/css/writofest2k23.css">
    </head>

    <body>

        <%- include('partials/navbar.ejs') %>

        <img src="/images/m1.png" class="mandala" height="100%">
        <div class="container">
            <div class="heading">
                <h1>WRITOFEST 2023</h1>
                <p class="miniheading"><i>A National level literary fest</i></p>
            </div>
            <button class="button" onclick="window.location.href='https://forms.gle/8gmmPhXXYkY49ujR8'">
                Register Here
                <div class="hoverEffect">
                    <div></div>
                </div>
            </button>
            


            <div class="para">
                <p class="paragraph">Embark on a literary journey like no other at WRITOFEST 2k23! Imagine a canvas
                    where untold stories come to life, where creativity knows no bounds. Picture this: a national-level
                    exciting event where words become magic.
                    In one corner, a vibrant writing competition awaits, challenging minds to weave tales on intriguing
                    themes. It's not just a competition; it's a playground for ideas, an arena to sharpen your thinking
                    and writing prowess.
                    Meanwhile, across the stage, the Mic of Motivation awaits. Imagine influential speakers, seasoned
                    writers, and soulful poets sharing their wisdom, reciting their works, and igniting a spark in every
                    participant. It's not just motivation; it's a symphony of inspiration.
                    Join us for a weekend filled with joy, learning, and a dash of professional flair. Let your unspoken
                    thoughts find a voice, and relish an experience that will linger in your memories forever. Seize the
                    chance to be part of SIT's grand literary fiesta – WRITOFEST 2k23. Register now and become the
                    author of your own story!
                </p>
            </div>

            <div class="head">
                <h1>Speakers and cheif guests</h1>
            </div>
            <div class="sp">
                <div class="speakers">
                    <div class="card">
                        <div class="imgss">
                            <img src="/images/jayaratna.png" alt="Jayaratna" class="rd_img">
                        </div>
                        <div class="txt_c">
                            <h1>Jayaratna</h1>
                            <p> Hailing from the vibrant state of Bihar, our dedicated business development professional
                                Jayaratna has seamlessly
                                woven a tapestry of Hindi poetry and stories over the past 4-5 years. This individual,
                                fueled by a fervent passion
                                for the language, finds joy in both crafting and performing their poetic creations.
                                Their love for the art extends to
                                a deep appreciation for the diverse narratives and verses shared by others. Expressing
                                gratitude to SIT for the upcoming
                                opportunity, our enthusiast eagerly awaits the event, poised to engage with a community
                                of like-minded individuals and
                                immerse themselves in the rich tapestry of Hindi literature.</p>
                        </div>
                    </div>
                </div>
                <div class="speakers">
                    <div class="card">
                        <div class="imgss">
                            <img src="/images/sowmya_kashi.jpeg" alt="Sowmya Kashi" class="rd_img">
                        </div>
                        <div class="txt_c">
                            <h1>Sowmya Kashi</h1>
                            <p>Sowmya Kashi, hailing from Sagara Taluk, Karnataka, has been captivated by Kannada
                                Literature since her early years. Influenced by literary giants like SL Bhyrappa, Ravi
                                Belegere, Yendamoori Veerendranath, and Poornachandra Tejasvi,
                                she began penning down her thoughts in the form of poetry during high school. With over
                                100 poems to her credit, Sowmya pursued her passion further by earning a Master's degree
                                in Journalism from Jain University,
                                Bengaluru. Her literary impact has been felt by a wide audience, with her poetry, in
                                particular, reaching over 1 Million people through
                                platforms like Instagram Reels. Notably, she authored the book "Helade Ulidaddu," a
                                collection of small poetries that has achieved considerable success, having sold more
                                than 1000 copies.
                                Sowmya Kashi aspires to kindle a love for Kannada literature among the youth and
                                contribute significantly to cultural and literary enrichment.</p>
                        </div>
                    </div>
                </div>
                <div class="speakers">
                    <div class="card">
                        <div class="imgss">
                            <img src="/images/Dr.Nischal_Parthasarathy.png" alt="Dr.Nischal_Parthasarathy" class="rd_img">
                        </div>
                        <div class="txt_c">
                            <h1>Dr.Nischal_Parthasarathy</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ea earum laudantium sit
                                sequi error. Minus porro expedita sint vero.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="head">
                <h1>Open Mic event</h1>
            </div>
            <img src="/images/p4.jpg" class="aralikatte">
            <div class="arli">
                <p>Arali Katte is a Kannada open mic platform started by passionate Kannadigas to help preserve our
                    culture and literature in the heart of Bengaluru. We appreciate art of all genres, be it poetry,
                    music, storytelling, stand up comedy etc, as long as it is in Kannada. We have conducted 15 open
                    mics till date and we have promoted 100+ Kannada artists through our platform.</p>
            </div>
            <div class="prize">
                <div class="details crd">
                    <h2 class="hd">Ink Your Script</h2>
                    <h3>Showcase your writing skills in the form of Poetry, Article and Story on given themes</h3>
                    <h3>Time</h3>
                    <h5>2:00 PM - 4:00 PM</h5>
                    <h3>Prizes</h3>
                    <h5>Cash Prizes worth 10,000/- to be won!</h5><br>
                    <h2 class="hd">Event Details</h2>
                    <h3>Date</h3>
                    <h5><b>9th December 2023</b></h5>
                    <h3>Venue</h3>
                    <h5>Media Center</h5>
                    <h3>Registration Fee</h3>
                    <h5>70/-(With Referal, 50/-)</h5>
                    <h3>Reporting time</h3>
                    <h5>9:30 AM</h5>
                    <h3>Prize Distribution and Vote of Thanks</h3>
                    <h5>5:00 PM</h5><br>
                </div>
                <div class="mic crd">
                    <h2 class="hd">Speakers</h2>
                    <h3>SOWMYA KASHI</h3>
                    <h5>10:30 AM - 11:00 AM</h5>
                    <h3>Dr. NISCHAL PARTHASARATHY</h3>
                    <h5>11:00 AM - 11:30 AM</h5>
                    <h3>JAYARATNA</h3>
                    <h5>11:30 AM - 12:00 PM</h5><br>
                </div>
            </div>

            <hr>
            <%- include('partials/footer.ejs') %>

            <script
      src="https://kit.fontawesome.com/1f7ae91032.js"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="/js/button.js"></script> -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <!-- <script src="/js/behaviour.js"></script> -->
    <script>
         $(".navbar").css("background-color","rgba(0,0,0,0");
         $(".nav-item a.nav-link").css("color","white !importnant");
         var navbarChange = function () {
        if ($(".navbar").offset().top > 100) {
            $(".navbar").addClass("navbar-transparent");
            $('.dropdown-menu').addClass("navbar-transparent");
        
        } else {
            $(".navbar").removeClass("navbar-transparent");
            $('.dropdown-menu').removeClass("navbar-transparent");
            $(".navbar").css("background-color","rgba(0,0,0,0");
        }
    };
    $(window).scroll(navbarChange); 
    </script>

    </body>

</html>
