*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: rgb(43, 30, 71);
    font-size:1.1rem;
}
html{
    scroll-behavior: smooth;
}
.section-heading{
    padding: 5px;
    text-align: center;
}
/* *********************************Header Section************************* */
.header{
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(45deg,rgb(43, 30, 71),black);

}
.center-div{
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.header-section{
    width: 100%;
    height: inherit;
    color: white;
    height: inherit;
    position: relative;
    text-align: center;
}
.header-section h1,.header-section p,.header-section i{
    color: white;
}
.header-section i.fab{
    color: black;
}
#scriptink-info{
    text-align:left;
}
#heading::after{
    display: block;
    content: "";
    position: absolute;
    height: 5px;
    width: 50px;
    background-color: rgb(255, 255, 255);
}
#mobile{
    width: 60%;
    margin-left: 30%;
    transform: rotate(-11deg);
}
.button{
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    color: white;
}
.button:hover{
    background-color: black;
    color: white;
    text-decoration: none;
    border-color: black;
}
.button:hover i{
    color: white;
}
.header-section i.fab{
    color: white;
}
/* ********************Header Section End *********************** */

/* ********************Category Section Start *********************** */
.category{
    width: 100%;
    height: auto;
    background: linear-gradient(135deg,rgb(43, 30, 71),black);
    color: white;
    text-align: center;
    position: relative;
}
.category .container{
    padding-bottom: 5rem;
}
.card{
    border-radius: 20px;
    transition:  0.5s;
    border:1px solid white;
    height: 250px;
}
.card::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}
#container-row1{
    padding-bottom:20px;
}
.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 0 10px rgb(255, 240, 153);
}
.card-title{
    color: white;
    margin: 0;
}
/* ********************Category Section End *********************** */

/* ********************WordOfDay Section Start *********************** */
.wordOfDay{

    width: 100%;
    padding: 50px 0;
    height: auto;
    color: white;
    background: radial-gradient(rgb(247, 240, 201),#E6B32E);
    text-align: center;
    
}
#wordimg{
    border-radius: 50px;
    width: 100%;
    height: 300px;
    position: relative;
}
#quotes1{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(180deg);
}
#quotes2{
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
}
/* ********************WordOfDay Section End *********************** */


/************NavBar Css Start*********************/
.navbar{
    background-color: transparent !important;
}
.nav-item a{
    color:rgb(150, 129, 10) !important ;
    margin-left: 2rem !important;
}
.nav-item a:hover{
    color:rgb(204, 181, 47) !important ;
}
.nav-logo{
    border-radius: 50%;
    padding: 5px;
}
/****************NavBar End************************/


/*****************Film Section Start*******************/
.film{
    width: 100%;
    height: 100vh;
    padding: 20px 0;
    background: linear-gradient(135deg,rgb(43, 30, 71)50%,black 50%);
    position: relative;
}
video{
    box-shadow: 0 0 20px gold;
    border-radius: 10px;
}

/*****************Film Section End*******************/

.category-image{
    /* background-image: url(/images/srk.jpg);
    width: 100%;
    height: 350px; */
    background-size: cover;
    background-position:center;
    /* border-radius: 20px; */
}
.filter-buttons{
    display: flex;
    justify-content: space-between;
}
.filter-buttons button{
    padding: 10px;
    margin: 2px;
    background-color: goldenrod;
    outline: none;
    border-radius: 10px;
    width: 100%;
    border: none;
}
.filter-buttons .active-button{
    background-color: rgb(147, 112, 24);
    color: white;
}



.about{
    padding: 20px 0;
    background: radial-gradient(rgb(247, 240, 201),#E6B32E);
}


/************************About effect Start**************************/
.box{
    width:100%;
    position: relative;
  }
  
  .figure{
    width: 100%;
    height: 100%;
  }
  .figure:before{
    content: '';
    position:absolute;
    width:50%;
    top:0;
    left: 0;
    border-radius: 20px 0 0 20px;
    height:100%;
    background:url(/images/logo.png);
    opacity: 0.2;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    transform-origin:bottom;
    transition: 0.5s;
  
  }
  .box:hover .figure:before{
    transform: rotateX(90deg) translateY(50%);
  }
  .figure:after{
    content: '';
    position:absolute;
    top: 0;
    right: 0;
    width:50%;
    background:url(/images/logo.png);
    border-radius: 0 20px 20px 0;
    height:100%;
    opacity: 0.2;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    transform-origin:top;
    transition:0.5s;
   
  }
  .box:hover .figure:after{
    transform: rotateX(90deg) translateY(-50%);
  }
  #about{
    text-align:center;
    padding: 20px;
  }
  #para{
  color:#ed8adb;
  font-family:'Dancing Script', cursive;
  text-align:center;
  padding-top:70px;
  font-size:20px;
  }

  #about h2{
      margin:0;
      padding:0;
      font-size: 30px;
      font-family: sans-serif;
      text-transform: uppercase;
  }

  /************************About effect Start**************************/



  #filter-section > button:hover{
    background: rgb(255, 197, 39);
    color : white;
  }

  .article-list{
    width : 100%;
    margin : 40px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  
  }
  .article-list>a{
    width : 250px;
    margin : 0px 10px;
  }
  .article-list li{
    height : 200px;
    padding: 10px;
    width: 100%;
    list-style-type: none;
    border-radius: 10px;
    background: #493d5d;
    color : white;
    margin: 10px;
    transition: .2s linear all;
  }
  .article-list li:hover
  {
    transform: translateY(-10px);
    -webkit-box-shadow: 0px 30px 22px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 30px 22px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 30px 22px 0px rgba(0,0,0,0.16);
  }

/***************MeadiaQuerry**********************/
@media(max-width:962px){
    .row{
        margin: 10px 0;
    }
    #mobile{
        transform: rotate(0deg);
        width: 40%;
    }
    .card{
        height: 150px;
        margin-bottom: 10px;
    }
    .card:hover{
        transform: translateY(-5px);
    }
    #container-row1{
        padding:0;
        margin: 0;
    }
    #container-row2{
        margin:0;
    }
    .category{
        height: auto;
    }
    .film{
        height: auto;
    }
}