*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: rgb(43, 30, 71);
    font-size:1.1rem;
}

.header{
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg,rgb(43, 30, 71),black);
    position: relative;

}
.center-div{
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.header-section{
    width: 100%;
    height: inherit;
    color: white;
    height: inherit;
    text-align: center;
    position: relative;
}
.header-section h1,.header-section p,.header-section i{
    color: white;
}
.header-section i.fab{
    color: black;
}
#scriptink-info{
    text-align:left;
}
#heading::after{
    display: block;
    content: "";
    position: absolute;
    height: 5px;
    width: 50px;
    background-color: rgb(255, 255, 255);
}
#mobile{
    width: 60%;
    margin-left: 30%;
    transform: rotate(-11deg);
}
.button{
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    color: white;
}
.button:hover{
    background-color: black;
    color: white;
    text-decoration: none;
}
.button:hover i{
    color: white;
}


.category{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg,rgb(43, 30, 71),black);
    color: white;
    text-align: center;
}
.card{
    border-radius: 20px;
}
/************NavBar Css Start*********************/
.navbar{
    background-color: transparent !important;
}
.nav-item a{
    color:rgb(150, 129, 10) !important ;
    margin-left: 2rem !important;
}
.nav-item a:hover{
    color:rgb(204, 181, 47) !important ;
}
.nav-logo{
    border-radius: 50%;
    padding: 5px;
}
/****************NavBar End************************/


/***************MeadiaQuerry**********************/
@media(max-width:962px){
    .row{
        margin: 10px 0;
    }
    #mobile{
        transform: rotate(0deg);
        width: 40%;
    }
    
}