<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Scriptink Ticket</title>
        <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400'>
        <script src="https://msstash.morningstar.com/scm/~ttang/html2img.git#fe"></script>
        <style>
            *,
            *::before,
            *::after {
                box-sizing: border-box;
            }

            body {
                margin: 0;
                color: #363c44;
                font-size: 14px;
                font-family: 'Roboto', sans-serif;
            }

            /*--------------------Boarding Pass--------------------*/
            .boarding-pass {
                color: white;
                position: relative;
                width: 350px;
                height: auto;
                /* background: #fff; */
                border-radius: 12px;
                background: linear-gradient(to bottom, rgba(36, 12, 73, 0.639), rgba(0, 0, 0, 0.565)), url("cid:back")top;
                box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
                overflow: hidden;
                text-transform: uppercase;
                /*-------------------- Header --------------------*/
                /*-------------------- Cities --------------------*/
                /*-------------------- Infos --------------------*/
                /*-------------------- Strap --------------------*/
            }

            .boarding-pass small {
                display: block;
                font-size: 11px;
                color: #A2A9B3;
                margin-bottom: 2px;
            }

            .center {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .heading-secondary {
                text-transform: uppercase;
                font-size: 2rem;
                display: inline-block;
                color: white;
                font-size: 2rem;
                font-weight: 700;
            }

            .intro {
                padding: 1.4rem;
            }

            .boarding-pass strong {
                font-size: 15px;
                display: block;
            }

            .boarding-pass header {
                padding: 12px 20px;
                height: auto;
            }

            .boarding-pass header .logo {
                padding: .2rem;
                background-color: rgba(0, 0, 0, 0.496);
                border-radius: 50%;
                display: block;
                width: 50px;
                /* box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.279); */
                height: 50px;
            }

            .boarding-pass header .flight {
                float: right;
                color: #fff;
                text-align: right;
            }

            .boarding-pass header .flight small {
                font-size: 8px;
                margin-bottom: 2px;
                opacity: 0.8;
            }

            .boarding-pass header .flight strong {
                font-size: 18px;
            }

            .boarding-pass .cities {
                position: relative;
            }

            .boarding-pass .cities::after {
                content: '';
                display: table;
                clear: both;
            }

            .boarding-pass .cities .city {
                padding: 20px 18px;
                float: left;
            }

            .boarding-pass .cities .city:nth-child(2) {
                float: right;
            }

            .boarding-pass .cities .city strong {
                font-size: 40px;
                font-weight: 300;
                line-height: 1;
            }

            .boarding-pass .cities .city small {
                margin-bottom: 0px;
                margin-left: 3px;
            }

            .boarding-pass .cities .airplane {
                position: absolute;
                width: 30px;
                height: 25px;
                top: 57%;
                left: 30%;
                opacity: 0;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                -webkit-animation: move 3s infinite;
                animation: move 3s infinite;
            }

            @-webkit-keyframes move {
                40% {
                    left: 50%;
                    opacity: 1;
                }

                100% {
                    left: 70%;
                    opacity: 0;
                }
            }

            @keyframes move {
                40% {
                    left: 50%;
                    opacity: 1;
                }

                100% {
                    left: 70%;
                    opacity: 0;
                }
            }

            .boarding-pass .infos {
                display: flex;
                border-top: 1px solid #99D298;
            }

            .boarding-pass .infos .places,
            .boarding-pass .infos .times {
                width: 50%;
                padding: 10px 0;
            }

            .boarding-pass .infos .places::after,
            .boarding-pass .infos .times::after {
                content: '';
                display: table;
                clear: both;
            }

            .boarding-pass .infos .times strong {
                -webkit-transform: scale(0.9);
                transform: scale(0.9);
                -webkit-transform-origin: left bottom;
                transform-origin: left bottom;
            }

            .boarding-pass .infos .places {
                background: #ECECEC;
                border-right: 1px solid #99D298;
            }

            .boarding-pass .infos .places small {
                color: #97A1AD;
            }

            .boarding-pass .infos .places strong {
                color: #239422;
            }

            .boarding-pass .infos .box {
                padding: 10px 20px 10px;
                width: 47%;
                float: left;
            }

            .boarding-pass .infos .box small {
                font-size: 10px;
            }

            .boarding-pass .strap {
                clear: both;
                position: relative;
                border-top: 1px solid #99D298;
                position: relative;
            }

            .qr {
                position: absolute;
            }

            .boarding-pass .strap::after {
                content: '';
                display: table;
                clear: both;
            }

            .boarding-pass .strap .box {
                padding: 23px 0 20px 20px;
            }

            .boarding-pass .strap .box div {
                margin-bottom: 15px;
            }

            .boarding-pass .strap .box div small {
                font-size: 10px;
            }

            .boarding-pass .strap .box div strong {
                font-size: 13px;
            }

            .boarding-pass .strap .box sup {
                font-size: 8px;
                position: relative;
                top: -5px;
            }

            .boarding-pass .strap .qrcode {
                position: absolute;
                top: 20px;
                right: 20px;
                width: 80px;
                height: 80px;
            }

            .right-center {
                display: inline-block;
                width: 50%;
            }

        </style>
    </head>

    <body>
        <div class="boarding-pass">
            <header>
                <div style="position: relative;">
                    <div style="float: left;width: 50%;display: inline-block;"> <img src="cid:logo" alt="" class="logo"
                            width="100" height="100"> </div>
                    <p class="right-center">Scriptink</p>
                </div>
            </header>
            <section class="cities">
                <div class="intro">
                    <h2 class="heading-secondary">WritoFest 2k21</h2> <small>National Level Literary Fest</small>
                </div>
            </section>
            <section class="infos">
                <div class="places">
                    <div class="box"> <small>Venue</small> <strong style="font-size: 10px;">Media Center</strong> </div>
                </div>
                <div class="times">
                    <div class="box"> <small>Start</small> <strong>10:00</strong> </div>
                    <div class="box"> <small>End</small> <strong>17:00</strong> </div>
                    <div class="box"> <small>Duration</small> <strong>6:00</strong> </div>
                </div>
            </section>
            <section class="strap">
                <div class="detail" style="display: inline-block;float:left;width: 50%;">
                    <div class="box">
                        <div class="passenger"> <small>Student</small> <strong><%=name%> </strong> </div>
                        <div class="passenger"> <small>Usn</small> <strong><%=usn%> </strong> </div>
                        <div class="date"> <small>Date</small> <strong>Sat, 18 Dec 2021</strong> </div>
                    </div>
                </div>
                <div style="display: inline-block;padding: 5px;width: 50%;"> <img
                        src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=<%=razorpay_id %>" alt=""
                        class="qrcode1"></div>
            </section>
        </div>
    </body>

</html>
